In [1]:
import time
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Foursquare数据集分析

In [2]:
#实验室路径
#原始数据路径
#种类
file_category = 'D:\\data\\foursquare\\categories.txt'
#用户
    #LA
file_LAUsers = 'D:\\data\\foursquare\\Users\\LA\\LA-Users.txt'
    #NYC
file_NYCUsers = 'D:\\data\\foursquare\\Users\\NYC\\NYC-Users.txt'
#POI
    #LA
file_LAPOI = 'D:\\data\\foursquare\\Venues\\LA\\LA_POIs.csv'
    #NYC
file_NYCPOI = 'D:\\data\\foursquare\\Venues\\NYC\\NYC_POIs.csv'
#Check-ins
    #LA
file_LACheck = 'D:\\data\\foursquare\\Tips\\LA\\LA-Tips.txt'
    #NYC
file_NYCCheck = 'D:\\data\\foursquare\\Tips\\NYC\\NYC-Tips.txt'

## 1.种类分析

In [4]:
with open(file_category,'r',errors='ignore') as f:
    data = json.load(f)

In [5]:
cat = data['response']['categories']
cat[1]

{'categories': [{'categories': [{'icon': 'https://foursquare.com/img/categories/education/default.png',
     'id': '4bf58dd8d48988d199941735',
     'name': 'College Arts Building',
     'pluralName': 'College Arts Buildings'},
    {'icon': 'https://foursquare.com/img/categories/education/default.png',
     'id': '4bf58dd8d48988d19a941735',
     'name': 'College Communications Building',
     'pluralName': 'College Communications Buildings'},
    {'icon': 'https://foursquare.com/img/categories/education/default.png',
     'id': '4bf58dd8d48988d19e941735',
     'name': 'College Engineering Building',
     'pluralName': 'College Engineering Buildings'},
    {'icon': 'https://foursquare.com/img/categories/education/default.png',
     'id': '4bf58dd8d48988d19d941735',
     'name': 'College History Building',
     'pluralName': 'College History Buildings'},
    {'icon': 'https://foursquare.com/img/categories/education/default.png',
     'id': '4bf58dd8d48988d19c941735',
     'name': 'College Math Building',
     'pluralName': 'College Math Buildings'},
    {'icon': 'https://foursquare.com/img/categories/education/default.png',
     'id': '4bf58dd8d48988d19b941735',
     'name': 'College Science Building',
     'pluralName': 'College Science Buildings'},
    {'icon': 'https://foursquare.com/img/categories/education/default.png',
     'id': '4bf58dd8d48988d19f941735',
     'name': 'College Technology Building',
     'pluralName': 'College Technology Buildings'}],
   'icon': 'https://foursquare.com/img/categories/education/default.png',
   'id': '4bf58dd8d48988d198941735',
   'name': 'College Academic Building',
   'pluralName': 'College Academic Buildings'},
  {'categories': [],
   'icon': 'https://foursquare.com/img/categories/education/default.png',
   'id': '4bf58dd8d48988d197941735',
   'name': 'College Administrative Building',
   'pluralName': 'College Administrative Buildings'},
  {'categories': [],
   'icon': 'https://foursquare.com/img/categories/education/default.png',
   'id': '4bf58dd8d48988d1af941735',
   'name': 'College Auditorium',
   'pluralName': 'College Auditoriums'},
  {'categories': [],
   'icon': 'https://foursquare.com/img/categories/education/bookstore.png',
   'id': '4bf58dd8d48988d1b1941735',
   'name': 'College Bookstore',
   'pluralName': 'College Bookstores'},
  {'categories': [],
   'icon': 'https://foursquare.com/img/categories/education/default.png',
   'id': '4bf58dd8d48988d1a1941735',
   'name': 'College Cafeteria',
   'pluralName': 'College Cafeterias'},
  {'categories': [],
   'icon': 'https://foursquare.com/img/categories/education/default.png',
   'id': '4bf58dd8d48988d1a0941735',
   'name': 'College Classroom',
   'pluralName': 'College Classrooms'},
  {'categories': [],
   'icon': 'https://foursquare.com/img/categories/education/default.png',
   'id': '4bf58dd8d48988d1a3941735',
   'name': 'College Dorm',
   'pluralName': 'College Dorms'},
  {'categories': [],
   'icon': 'https://foursquare.com/img/categories/education/gym.png',
   'id': '4bf58dd8d48988d1b2941735',
   'name': 'College Gym',
   'pluralName': 'College Gyms'},
  {'categories': [],
   'icon': 'https://foursquare.com/img/categories/education/default.png',
   'id': '4bf58dd8d48988d1a5941735',
   'name': 'College Lab',
   'pluralName': 'College Labs'},
  {'categories': [],
   'icon': 'https://foursquare.com/img/categories/education/default.png',
   'id': '4bf58dd8d48988d1a7941735',
   'name': 'College Library',
   'pluralName': 'College Libraries'},
  {'categories': [],
   'icon': 'https://foursquare.com/img/categories/education/default.png',
   'id': '4bf58dd8d48988d1aa941735',
   'name': 'College Quad',
   'pluralName': 'College Quads'},
  {'categories': [],
   'icon': 'https://foursquare.com/img/categories/education/default.png',
   'id': '4bf58dd8d48988d1a9941735',
   'name': 'College Rec Center',
   'pluralName': 'College Rec Centers'},
  {'categories': [{'icon': 'https://foursquare.com/img/categories/education/stadium_baseball.png',
     'id': '4bf58dd8d48988d1bb941735',
     'name': 'College Baseball Diamond',
     'pluralName': 'College Baseball Diamonds'},
    {'icon': 'https://foursquare.com/img/categories/education/stadium_basketball.png',
     'id': '4bf58dd8d48988d1ba941735',
     'name': 'College Basketball Court',
     'pluralName': 'College Basketball Courts'},
    {'icon': 'https://foursquare.com/img/categories/education/stadium_cricket.png',
     'id': '4bf58dd8d48988d1b9941735',
     'name': 'College Cricket Pitch',
     'pluralName': 'College Cricket Pitches'},
    {'icon': 'https://foursquare.com/img/categories/education/stadium_football.png',
     'id': '4bf58dd8d48988d1b8941735',
     'name': 'College Football Field',
     'pluralName': 'College Football Fields'},
    {'icon': 'https://foursquare.com/img/categories/education/stadium_hockey.png',
     'id': '4bf58dd8d48988d1b5941735',
     'name': 'College Hockey Rink',
     'pluralName': 'College Hockey Rinks'},
    {'icon': 'https://foursquare.com/img/categories/education/stadium_soccer.png',
     'id': '4bf58dd8d48988d1b7941735',
     'name': 'College Soccer Field',
     'pluralName': 'College Soccer Fields'},
    {'icon': 'https://foursquare.com/img/categories/education/stadium_track.png',
     'id': '4bf58dd8d48988d1b6941735',
     'name': 'College Track',
     'pluralName': 'College Tracks'}],
   'icon': 'https://foursquare.com/img/categories/education/stadium.png',
   'id': '4bf58dd8d48988d1b4941735',
   'name': 'College Stadium',
   'pluralName': 'College Stadiums'},
  {'categories': [],
   'icon': 'https://foursquare.com/img/categories/education/default.png',
   'id': '4bf58dd8d48988d1ac941735',
   'name': 'College Theater',
   'pluralName': 'College Theaters'},
  {'categories': [],
   'icon': 'https://foursquare.com/img/categories/education/default.png',
   'id': '4bf58dd8d48988d1a2941735',
   'name': 'Community College',
   'pluralName': 'Community Colleges'},
  {'categories': [],
   'icon': 'https://foursquare.com/img/categories/education/frathouse.png',
   'id': '4bf58dd8d48988d1b0941735',
   'name': 'Fraternity House',
   'pluralName': 'Fraternity Houses'},
  {'categories': [],
   'icon': 'https://foursquare.com/img/categories/education/default.png',
   'id': '4bf58dd8d48988d1a8941735',
   'name': 'General College & University',
   'pluralName': 'General Colleges & Universities'},
  {'categories': [],
   'icon': 'https://foursquare.com/img/categories/education/default.png',
   'id': '4bf58dd8d48988d1a6941735',
   'name': 'Law School',
   'pluralName': 'Law Schools'},
  {'categories': [],
   'icon': 'https://foursquare.com/img/categories/education/medicalschool.png',
   'id': '4bf58dd8d48988d1b3941735',
   'name': 'Medical School',
   'pluralName': 'Medical Schools'},
  {'categories': [],
   'icon': 'https://foursquare.com/img/categories/education/sororityhouse.png',
   'id': '4bf58dd8d48988d141941735',
   'name': 'Sorority House',
   'pluralName': 'Sorority Houses'},
  {'categories': [],
   'icon': 'https://foursquare.com/img/categories/education/default.png',
   'id': '4bf58dd8d48988d1ab941735',
   'name': 'Student Center',
   'pluralName': 'Student Centers'},
  {'categories': [],
   'icon': 'https://foursquare.com/img/categories/education/default.png',
   'id': '4bf58dd8d48988d1ad941735',
   'name': 'Trade School',
   'pluralName': 'Trade Schools'},
  {'categories': [],
   'icon': 'https://foursquare.com/img/categories/education/default.png',
   'id': '4bf58dd8d48988d1ae941735',
   'name': 'University',
   'pluralName': 'Universities'}],
 'icon': 'https://foursquare.com/img/categories/education/default.png',
 'name': 'College & University',
 'pluralName': 'Colleges & Universities'}

In [6]:
#统计不同种类的数目
l2 = [];l3 = []
for level2 in cat:
    l2.append(len(level2['categories']))
    nums = 0
    for level3 in level2['categories']:
        nums += len(level3['categories'])
    l3.append(nums)
print(l2)
print("第二级种类总数：-----%d-----" % sum(l2))
print(l3)
print("第三级种类总数：-----%d-----" % sum(l3))

[17, 23, 78, 28, 15, 20, 45, 15]
第二级种类总数：-----241-----
[22, 14, 1, 4, 28, 4, 18, 12]
第三级种类总数：-----103-----

In [7]:
name = pd.DataFrame(cat,columns = ['name'])
pd.DataFrame({'category':name['name'],'n2':l2,'n3':l3},columns = ['category','n2','n3'],index = range(0,8))

               category  n2  n3
0  Arts & Entertainment  17  22
1  College & University  23  14
2                  Food  78   1
3        Great Outdoors  28   4
4     Home, Work, Other  15  28
5        Nightlife Spot  20   4
6                  Shop  45  18
7           Travel Spot  15  12

In [42]:
#种类整理
category = []   #用于存储所有的种类id和name，分层次,三层
categories = {} #用于存储所有的种类id和name，不分层次,总共352类
for i,level1 in enumerate(cat):  #第一级种类
    dict1 = {'name':level1['name']}
    categories[i] = level1['name']
    category1 = []
    for level2 in level1['categories']:
        dict2 = {'id':level2['id'],'name':level2['name']}
        categories[level2['id']] = level2['name']
        if len(level2['categories']) != 0:
            category2 = []
            for level3 in level2['categories']:
                dict3 = {'id':level3['id'],'name':level3['name']}
                categories[level3['id']] = level3['name']
                category2.append(dict3)
            dict2['categories'] = category2
        else:
            dict2['categories'] = []
        category1.append(dict2)
    dict1['categories'] = category1
    #else:
        #continue
    category.append(dict1)

In [43]:
n2 = [];n3 = []
for level2 in category:
    n2.append(len(level2['categories']))
    num3 = 0
    for level3 in level2['categories']:
        num3 += len(level3['categories'])
    n3.append(num3)
print("第一级种类总数：-----8------")
print(n2)
print("第二级种类总数：-----%d-----" % sum(n2))
print(n3)
print("第三级种类总数：-----%d-----" % sum(n3))
print("Foursquare种类的总数为：-----%d-----" % len(categories))

第一级种类总数：-----8------
[17, 23, 78, 28, 15, 20, 45, 15]
第二级种类总数：-----241-----
[22, 14, 1, 4, 28, 4, 18, 12]
第三级种类总数：-----103-----
Foursquare种类的总数为：-----352-----

In [44]:
#pd.DataFrame({'id':categories.keys(),'name':categories.values()},index = range(len(categories)),columns = ['id','name'])
ser = pd.Series(categories)
ser.to_csv("D:\\data\\foursquare\\csv\\category.csv")

# 2.User 分析

## 2.1 LA Users

### 原始数据LAusers整理

In [91]:
user_LA = pd.read_table(file_LAUsers, sep = '\t',names = ['id','first name','last name','http','gender','home city'] )

In [92]:
user_LA = user_LA[['id','gender','home city']]
user_LA.head()

       id  gender               home city
0  528470    male  London, United Kingdom
1  525576    male           Arlington, TX
2   15420  female       San Francisco, CA
3     387    male            New York, NY
4   90398  female              London, UK

In [93]:
user = user_LA[['id','home city']] #user中只有id和home_city
user.index = user['id']  #将id作为索引便于后续merge
user = user['home city']
user = user[user.notnull()] #筛选home city非空的样本
user = pd.DataFrame(user.map(lambda x: x.split(',')))  #利用map函数将每个样本的home city字符串的形式分割成【city，state】的字符列表形式
user_LA = pd.merge(user_LA,user,left_on = 'id',right_index = True,how = 'left') 
del user_LA['home city_x']
user_LA.columns = ['id','gender','home']
user_LA['city'] = user_LA['home'] 
user_LA['state'] = user_LA['home']
user_LA.head()

,id,gender,home,city,state
0,528470,male,"[London, United Kingdom]","[London, United Kingdom]","[London, United Kingdom]"
1,525576,male,"[Arlington, TX]","[Arlington, TX]","[Arlington, TX]"
2,15420,female,"[San Francisco, CA]","[San Francisco, CA]","[San Francisco, CA]"
3,387,male,"[New York, NY]","[New York, NY]","[New York, NY]"
4,90398,female,"[London, UK]","[London, UK]","[London, UK]"

In [98]:
#f1函数用于提取city字符
def f1(x):
    if len(x) == 2:
        return x[0]
    elif len(x) == 1 and (x[0] in city_name): ##city_name为LA_user文件中所有城市名称的数组
        return x[0]
    else:
        return np.nan
#f2函数用于提取state字符   
def f2(x):
    if len(x) == 2:
        return x[1]
    elif len(x) == 1 and (x[0] in state_name):
        return x[0]
    else:
        return np.nan

In [95]:
home = user_LA[['id','home','city','state']]
home.index = home['id']
del home['id']
home = home[pd.notnull(home['home'])]

city = home['city']  #用于提取保存用户city项
state = home['city'] #用于提取保存用户state项
city = pd.DataFrame(city.map(f1))
state = pd.DataFrame(state.map(f2))

user_LA = pd.merge(user_LA[['id','gender','home']],city,left_on = 'id',right_index = True,how = 'left')
user_LA = pd.merge(user_LA,state,left_on = 'id',right_index = True,how = 'left')
user_LA.columns = ['id','gender','home','city','state']
user_LA.to_csv('D:\\data\\foursquare\\csv\\users_LA.csv')
user_LA.head()

       id  gender                       home           city            state
0  528470    male  [London,  United Kingdom]         London   United Kingdom
1  525576    male           [Arlington,  TX]      Arlington               TX
2   15420  female       [San Francisco,  CA]  San Francisco               CA
3     387    male            [New York,  NY]       New York               NY
4   90398  female              [London,  UK]         London               UK

In [14]:
print("LA的用户数:------%d-----" % len(user_LA))

LA的用户数:------501940-----

### 整理数据加载分析

In [101]:
file_users_LA = 'D:\\data\\foursquare\\csv\\users_LA.csv'
users_LA = pd.read_csv(file_users_LA, sep = ',', encoding = 'latin-1',names = ['id','gender','home','city','state'])
users_LA.head()

D:\Python\Install\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,gender,home,city,state
NaN,id,gender,home,city,state
0.0,528470,male,"['London', ' United Kingdom']",London,United Kingdom
1.0,525576,male,"['Arlington', ' TX']",Arlington,TX
2.0,15420,female,"['San Francisco', ' CA']",San Francisco,CA
3.0,387,male,"['New York', ' NY']",New York,NY

In [102]:
ser_city = users_LA['city']
ser_state = users_LA['state']
ser_home = users_LA['home']
city_name = ser_city.unique()
state_name = ser_state.unique()

## NYC Users

In [105]:
user_NYC = pd.read_table(file_NYCUsers, sep = '\t',names = ['id','first name','last name','http','gender','home city'] )

In [106]:
user_NYC = user_NYC[['id','gender','home city']]
user_NYC.head()

       id  gender      home city
0    1554  female     Venice, CA
1  122155    male  New Haven, CT
2     855    male   Portland, OR
3   35490  female   New York, NY
4  304667    male    Houston, TX

In [107]:
user = user_NYC[['id','home city']] #user中只有id和home_city
user.index = user['id']  #将id作为索引便于后续merge
user = user['home city']
user = user[user.notnull()] #筛选home city非空的样本
user = pd.DataFrame(user.map(lambda x: x.split(',')))  #利用map函数将每个样本的home city字符串的形式分割成【city，state】的字符列表形式
user_NYC = pd.merge(user_NYC,user,left_on = 'id',right_index = True,how = 'left') 
del user_NYC['home city_x']
user_NYC.columns = ['id','gender','home']
user_NYC['city'] = user_NYC['home'] 
user_NYC['state'] = user_NYC['home']
user_NYC.head()

       id  gender              home              city             state
0    1554  female     [Venice,  CA]     [Venice,  CA]     [Venice,  CA]
1  122155    male  [New Haven,  CT]  [New Haven,  CT]  [New Haven,  CT]
2     855    male   [Portland,  OR]   [Portland,  OR]   [Portland,  OR]
3   35490  female   [New York,  NY]   [New York,  NY]   [New York,  NY]
4  304667    male    [Houston,  TX]    [Houston,  TX]    [Houston,  TX]

In [108]:
#f1函数用于提取city字符
def f1(x):
    if len(x) == 2:
        return x[0]
    elif len(x) == 1 and (x[0] in city_name): ##city_name为LA_user文件中所有城市名称的数组
        return x[0]
    else:
        return np.nan
#f2函数用于提取state字符   
def f2(x):
    if len(x) == 2:
        return x[1]
    elif len(x) == 1 and (x[0] in state_name):
        return x[0]
    else:
        return np.nan

In [109]:
home = user_NYC[['id','home','city','state']]
home.index = home['id']
del home['id']
home = home[pd.notnull(home['home'])]

city = home['city']  #用于提取保存用户city项
state = home['city'] #用于提取保存用户state项
city = pd.DataFrame(city.map(f1))
state = pd.DataFrame(state.map(f2))

user_NYC = pd.merge(user_NYC[['id','gender','home']],city,left_on = 'id',right_index = True,how = 'left')
user_NYC = pd.merge(user_NYC,state,left_on = 'id',right_index = True,how = 'left')
user_NYC.columns = ['id','gender','home','city','state']
user_NYC.to_csv('D:\\data\\foursquare\\csv\\users_NYC.csv')
user_NYC.head()

       id  gender              home       city state
0    1554  female     [Venice,  CA]     Venice    CA
1  122155    male  [New Haven,  CT]  New Haven    CT
2     855    male   [Portland,  OR]   Portland    OR
3   35490  female   [New York,  NY]   New York    NY
4  304667    male    [Houston,  TX]    Houston    TX

In [20]:
print("NYC的用户数:------%d-----" % len(user_NYC))

NYC的用户数:------717382-----

### 整理后数据加载

In [103]:
file_users_NYC = 'D:\\data\\foursquare\\csv\\users_NYC.csv'
users_NYC = pd.read_csv(file_users_NYC, sep = ',', encoding = 'latin-1',names = ['id','gender','home','city','state'])
users_NYC.head()

D:\Python\Install\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       id  gender                  home       city  state
0      id  gender                  home       city  state
1    1554  female     ['Venice', ' CA']     Venice     CA
2  122155    male  ['New Haven', ' CT']  New Haven     CT
3     855    male   ['Portland', ' OR']   Portland     OR
4   35490  female   ['New York', ' NY']   New York     NY

# 3. POI 分析

## LA POI

In [15]:
POI_LA = pd.read_csv(file_LAPOI,encoding = 'latin-1')

D:\Python\Install\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (5,6,8,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
# 'id','name','latitude','longtitude','address','city','state','checkin','checked user','current user','todo','no','category','category id 0','category id 1'

In [19]:
POI_LA

,4b382d99f964a520854c25e3,33.7482354,-118.4071307,Rancho Palos Verdes,CA,29,18,0,0.1,0.2,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,4be5acd52468c928cf5a0043,33.729714,-118.349261,Rancho Palos Verdes,CA,94,67,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4bf98d5e5317a593ef7a017f,33.7992814,-118.3510283,Torrance,CA,30,28,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4b8aed83f964a520a68932e3,33.8198319,-118.3883947,Redondo Beach,California,323,199,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4b91842ff964a5204ec233e3,33.74482527,-118.411417,Rancho Palos Verdes,CA,203,139,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4c11b66bd41e76b0bbfd310d,33.8286692,-118.2773108,Carson,California,37,23,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4a32e7b9f964a520bc9a1fe3,33.936578,-118.369507,Inglewood,CA,30,20,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4c250f90db519521291d2c3a,33.873156,-118.356795,Lawndale,CA,17,9,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,45057c3bf964a52001391fe3,33.842623,-118.2883841,Torrance,CA,792,548,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,4c4e276567929c747ab6709b,33.774793,-118.417702,Palos Verdes Estates,Ca,32,19,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,4ca7b00dd971b1f749f10ce1,33.7882828,-118.325411,Lomita,CA,132,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,4a51566cf964a520f7b01fe3,33.791835,-118.3320613,Torrance,CA,3343,332,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,4c9977e713de952115bad053,33.80652,-118.340146,Torrance,California,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,4bca6a1b68f976b070745f83,33.749159,-118.4075186,Ranch Palos Verdes,CA,140,90,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,4c10048781e976b0cc780eeb,33.759845,-118.414003,Rancho Palos Verdes,CA,247,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,4c0d57e0d64c0f471791265d,34.028768,-118.47353,Santa Monica,CA,62,23,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,4b124644f964a5205e8923e3,34.028949,-118.473269,Santa Monica,CA,2906,527,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,4b941536f964a520c76634e3,33.749169,-118.407115,Rancho Palos Verdes,CA,249,77,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,4bc4f73c0191c9b6d2e8eab1,40.76185347,-73.98313522,New York,NY,1307,664,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,4c437e8e8c1f20a136293b99,33.751505,-118.3083587,San Pedro,CA,124,27,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,4a6fb073f964a520d5d61fe3,34.052961,-118.252254,Los Angeles,CA,155,89,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,4c3fac53ce54e21ef175081a,33.820861,-118.384954,null,null,7,6,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,4b80cf74f964a5203c8d30e3,33.81869697,-117.9217529,Anaheim,CA,813,415,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,4b0aeea7f964a520432a23e3,34.0201614,-118.4537248,Santa Monica,CA,231,115,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,4b834190f964a52066ff30e3,33.7994998,-117.9929647,Stanton,CA,316,198,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,4bb0e9f8f964a52090693ce3,32.820774,-96.788243,Dallas,TX,817,546,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,4dd2ed9f45dd45f71923dce8,33.91922,-118.41336,El Segundo,CA,27,20,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,4af48396f964a52061f321e3,33.919085,-118.412506,El Segundo,CA,1122,224,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,4b513863f964a520c24727e3,34.072055,-118.367288,Los Angeles,CA,1920,1221,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,4af0e085f964a520d9df21e3,33.92295525,-118.3959514,El Segundo,CA,1200,656,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,4bf6dc405317a593f1f6fc7e,33.748809,-118.406975,Rancho Palos Verdes,CA,89,58,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215583,4d216f9986e154811e38c23a,34.38804218,-118.5993703,stevenson ranch,ca,2,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215584,4c700173344437041ea2225f,34.3831673,-118.5904327,Stevenson Ranch,California,2,2,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215585,4d84576740a7a35d5e7a09be,34.38613,-118.594497,Stevenson Ranch,California,4,2,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215586,4d71dfbd5f00370440d8d6a0,34.386401,-118.592738,Stevenson Ranch,California,5,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215587,4c60b7db3986e21e4011954f,34.3820741,-118.5841578,Stevenson Ranch,CA,3,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215588,4d7bf1036152b60c8eb08826,34.387574,-118.599489,null,null,2,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215589,4c8c948f8018a1cdff17eed2,34.3820741,-118.5841578,Stevenson Ranch,CA,1,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215590,4d93c7d8484d6ea81a388330,34.377835,-118.573819,null,null,1,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215591,4d93c70c484d6ea8bd228330,34.377872,-118.573722,null,null,2,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215592,4d8cb67b3bfef04db55c6f86,34.377974,-118.573742,Los Angeles,CA,5,3,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215593,4d901e75c1b1721e7c5e5546,34.378034,-118.573779,null,null,3,3,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215594,4d9027241716a14353785bf7,34.378066,-118.573697,null,null,3,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215595,4d90288e3bfef04df612be86,34.378091,-118.573748,null,null,2,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215596,4d906b81788c5481328263fd,34.378091,-118.573748,null,null,1,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215597,4c8c953a55fba09342ff60ab,34.3820741,-118.5841578,Stevenson Ranch,CA,1,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215598,4d931a6062ad54810e97794b,34.37684362,-118.5705042,null,null,2,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215599,4becbdc00ddaa593c7081ec3,34.369107,-118.559531,San Fernando Valley,California,17,11,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215600,4c263f03f7ced13a06f8256d,34.3701755,-118.5606213,santa clarita,ca,10,7,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215601,4c362ccaae2da59313bafcc5,34.3701755,-118.5606213,Santa Clarita,California,12,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215602,4d80fea9dbc5f04de05b02b7,34.371678,-118.561974,Santa Clarita,Ca,2,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215603,4d707f627760a1cd92b4b0a9,34.37051209,-118.5609126,Newhall,CA,1,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215604,4dd5d5bdfa76ad96d0fe88ef,34.367882,-118.55737,Santa Clarita,California,27,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215605,4c1a84238b3aa59346bd955f,34.37235,-118.56252,Santa Clarita,CA,10,9,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215606,4d7ba26679c4b1f7b379ebf2,34.371061,-118.560501,Santa Clarita,CA,1,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215607,4c5f29d4cd522d7fda59cb3f,34.367362,-118.553529,Santa Clarita,California,9,5,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215608,4be79801947820a19d00b4db,34.365054,-118.542681,Santa Clarita,CA,5,3,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215609,4becdcd42cf820a13e5eb91c,34.365314,-118.542847,Santa Clarita,California,27,3,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215610,4d430e0608d16dcb2d8e7754,34.365842,-118.524138,Newhall,CA,4,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215611,4c895000ed0aa143e8b8b0f3,34.335996,-118.516859,Santa Clarita,California,1,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215612,4bd89f6ae914a593adce53fa,34.447552,-118.215962,North Hollywood,California,1,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
print('LA的POI数目：------%d------' % len(POI_LA))

LA的POI数目：------215614------

In [21]:
file1 = r'E:\data\Foursquare\Microsoft_check-in data\Venues\LA\LA-Venues.txt'
file2 = r'D:\software\Github\Recommender-System\RS-LBSN\dataset\Foursquare\LA-2.txt'
f1 = open(file1,'r',errors = 'ignore')
f2 = open(file2,'w')
lines = f1.readlines()
for line in lines[0:144421]:
    cat = []
    lst = line.strip().split('\t')
    if len(lst) < 14:
        f2.write('\t'.join(lst))
        f2.write('\n')
    else:
        for e in lst[13:len(lst)]:
            if e != np.nan:
                cat.append(e[1:len(e)-1])
        lst.insert(13,','.join(cat))
        f2.write('\t'.join(lst[0:14]))
        f2.write('\n')
for line in lines[144421:]:
    cat = []
    lst = line.strip().split('\t')
    lst.insert(9,'0')
    if len(lst) < 14:
        f2.write('\t'.join(lst))
        f2.write('\n')
    else:
        for e in lst[13:len(lst)]:
            if e != np.nan:
                cat.append(e[1:len(e)-1])
        lst.insert(13,','.join(cat))
        f2.write('\t'.join(lst[0:14]))
        f2.write('\n')
f1.close()
f2.close()

In [16]:
file1 = r'E:\data\Foursquare\Microsoft_check-in data\Venues\LA\LA-Venues.txt'
file2 = r'D:\software\Github\Recommender-System\RS-LBSN\dataset\Foursquare\LA-2.txt'
f1 = open(file1,'r',errors = 'ignore')
f2 = open(file2,'w')
lines = f1.readlines()
for line in lines[144420:144426]:
    print(line)
f1.close()

"4ca2eda75e3076b0e2ceef0c"	"The Darling Nikki"	34.3779062117386	-118.573808670044	"Middle Earth"	"Los Angeles"	"CA"	29	7	0	0	0	2	"4bf58dd8d48988d103941735"	"4bf58dd8d48988d11f941735"

"4bf5d8e19abec9b622de24e8"	"Palos Verdes High School"	33.7797381666667	-118.41887797	"800 Cloyden Road"	"Palos Verdes"	"CA"	166	61	0	0	1	"4bf58dd8d48988d13d941735"

"4b0d9174f964a520384b23e3"	"Lunada Bay Market"	33.7754999275293	-118.418068885803	"2201 Palos Verdes Dr W"	"Palos Verdes Estates"	"CA"	190	42	0	0	1	"4bf58dd8d48988d118951735"

"4b3f9af2f964a52028aa25e3"	"Lunada Bay"	33.7714421198399	-118.42248916626	"2300 Paseo del Mar"	"Palos Verdes Estates"	"CA"	251	77	1	0	2	"4bf58dd8d48988d1e3941735"	"4bf58dd8d48988d165941735"

"4d7ff7638edaa143dca0e539"	"OnStratus - Palos Verdes West"	33.759922	-118.413987	null	null	null	95	2	0	0	1	"4bf58dd8d48988d125941735"

"4bddc93e0ee3a5938ba32eb0"	"Cliffs At Point Vicente"	33.7531263	-118.4122549	"Calle Entradero"	"Rancho Palos Verdes"	"California"	50	32	0	0	0

## NYC POI

In [13]:
POI_NYC = pd.read_csv(file_NYCPOI,encoding = 'latin-1')

D:\Python\Install\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (6,19,20,21,22,23,24,25,26,27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
POI_NYC

,4c94b5f082b56dcbae61d1aa,40.403035,-74.35464,Old Bridge,NJ,9,3,0,0.1,0.2,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,4b7c9374f964a520e99b2fe3,38.55618663,-90.39645195,null,null,133,108,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4bd8d2132e6f0f4748c80808,40.567686,-74.548777,Bound Brook,New Jersey,61,51,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4a920bfdf964a520b21c20e3,40.47649684,-74.26933765,South Amboy,NJ,332,121,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4b992e4bf964a520826735e3,40.478508,-74.2819208,South Amboy,NJ,59,25,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4bc4598174a9a59339a7d5f6,40.53311118,-74.35941696,Metuchen,NJ,17,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4bc7afba92b376b0da43503a,40.4732721,-74.2850045,South Amboy,NJ,14,3,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4b175988f964a520f1c423e3,28.35224278,-81.60374165,Lake Buena Vista,FL,6186,2265,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4a971517f964a520562820e3,40.4778788,-74.3133737,Sayreville,NJ,39,23,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,4bbb68fb7421a59366cbc440,40.437947,-74.225207,Aberdeen,New Jersey,131,56,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,4be05617652b0f47f40d7211,40.4842942,-74.2808086,South Amboy,NJ,115,60,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,4b4f70fef964a520c10627e3,40.32144454,-76.7911613,Harrisburg,PA,181,94,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,4bc09aebb492d13a6e79a460,40.4825333,-74.2835049,South Amboy,NJ,83,14,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,4bc09a25b492d13af977a460,40.4845211,-74.2810293,South Amboy,NJ,45,24,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,4bb28fa5a32876b0faca00fe,40.4675506,-74.2763691,South Amboy,NJ,50,14,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,4a961868f964a520002620e3,40.30839626,-74.30366993,Englishtown,NJ,1223,356,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,4b79eed9f964a5201b1b2fe3,40.437064,-74.202968,Keyport,NJ,27,17,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,4b5b24faf964a5204be628e3,40.22459825,-74.0845871,Neptune,NJ,1528,529,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,4a43c0aef964a520c6a61fe3,40.60685015,-74.04467583,Brooklyn,NY,11704,4431,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,4a9204b9f964a5209c1c20e3,40.5483627,-74.2977281,Woodbridge,NJ,3333,868,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,4bb226ddf964a520e1bd3ce3,40.45715218,-74.24651206,Laurence Harbor,NJ,92,16,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,4bb25baa14cfd13a9ed414ab,40.4568151,-74.2467964,Laurence Harbor,NJ,163,48,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,4dce068bc65bdac71357d23c,40.762634,-73.978686,New York,NY,10,4,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,4ba79438f964a5203c9f39e3,45.45796332,-73.75104904,Dorval,QC,170,148,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,49d8fbf3f964a520e65d1fe3,40.77410687,-73.98201942,New York,NY,3046,2013,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,4d8638678de9721ed14f5651,40.860016,-73.875994,null,null,12,7,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,4c5865787329c9281b0e9180,41.318866,-73.988189,Highland Falls,NY,59,51,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,4bb8e7b7cf2fc9b6f901a002,40.76287332,-73.99171293,New York,New York,243,84,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,4c437c858c1f20a16e253b99,40.507255,-74.22679,Staten Island,NY,12,9,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,4c65d57ce75ac9284702f6da,40.4440529,-74.210669,Keyport,New Jersey,51,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,4c76d3ee923ba143b22665e6,40.44859,-74.17284,null,null,36,4,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206385,4bc4fe6ae58e9521274fc9e1,35.925554,14.490558,null,null,74,24,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206386,4da4ba82573d1456a582267d,39.9325265,-75.1458806,philadelphia,pa,2,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206387,4c434b6acc410f47fc01ae61,45.158168,10.794623,null,null,96,56,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206388,4a755438f964a520bfe01fe3,37.79852654,-122.2833467,Oakland,CA,224,34,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206389,4bf623fc5efe2d7fb9be6634,-6.211544,106.845172,Jakarta Capital Region,Jakarta Capital Region,305,246,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206390,4bd289efa8b3a5934d36685f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206391,4cbc54d4c7228cfa381c23ce,40.74081162,-74.00763294,New York,NY,247,190,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206392,4b48ba8ef964a520605426e3,40.761355,-73.969395,New York,NY,139,76,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206393,4dc4314d52b1e8f9f7b469ae,40.7400937,-73.9934269,New York,NY,1,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206394,4ad86797f964a520381121e3,40.7403082,-74.0038119,New York,NY,25,13,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206395,4dc97d8945dd5c3d158ab779,40.7769568,-73.9591257,New York,NY,4,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206396,4ca1616319e4236a89e46989,40.718899,-74.009888,New York,New York,4,2,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206397,4dbf4bc3f7b115b875c7b1d0,40.789444,-73.972059,New York,NY,15,3,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206398,4b6b773ef964a520930a2ce3,40.7289072,-73.9984191,New York,New York,38,26,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206399,4ba16accf964a5201eb537e3,40.7595815,-73.9679986,New York,NY,38,4,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206400,4d95d298744f3704d28ca957,40.2157794,-74.0125837,Asbury Park,New Jersey,168,57,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206401,4af311a9f964a52049ea21e3,40.6931519,-73.9684365,Brooklyn,NY,97,59,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206402,4dc1b987e4cda3b87f28a183,40.694055,-73.962662,New York,NY,12,7,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206403,4d762aaf9971ba7a5b8f6f8e,40.663049,-73.980108,Brooklyn,NY-New York,14,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206404,4dd5b29781dcd5bca59494d9,40.6617921,-73.969555,Brooklyn,NY,145,145,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206405,4ca7be43b0b8236aa9a5ace6,40.7518006,-73.9802081,New York,New York,4,4,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206406,4b5200a4f964a520866027e3,40.7443958,-73.59887123,Westbury,NY,376,252,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206407,4d3c8888af8ca14377d702f7,40.8099409,-73.9606968,New York,NY,357,82,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206408,4c8a83f0a92fa093b60a92bf,40.713643,-74.009127,New York,null,48,30,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206409,4d07e95984ec224b56d72662,40.75779018,-73.99575233,New York,NY,3715,1813,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206410,4bf575ce94af2d7f41c13b72,40.7316927,-74.0009544,New York,NY,16,13,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206411,4b9181e0f964a520aac133e3,39.95264848,-75.16399384,Philadelphia,PA,146,107,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206412,4c5c96ea7f661b8d570b491c,40.728637,-73.9877285,New York,NY,30,20,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206413,4b3ba5fbf964a520fa7725e3,40.764584,-73.976902,New York,NY,372,132,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206414,4be8999fd837c9b6ae8ca506,40.747202,-73.986199,New York,NY,39,31,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
print('NYC的POI数目：------%d------' % len(POI_NYC))

NYC的POI数目：------206416------

In [13]:
file1 = r'E:\data\Foursquare\Microsoft_check-in data\Venues\NYC\NYC-Venues.txt'
file2 = r'D:\software\Github\Recommender-System\RS-LBSN\dataset\Foursquare\NYC.txt'
f1 = open(file1,'r',errors = 'ignore')
f2 = open(file2,'w')
for line in f1.readlines():
    cat = []
    lst = line.strip().split('\t')
    if len(lst) < 14:
        f2.write('\t'.join(lst))
        f2.write('\n')
    else:
        for e in lst[13:len(lst)]:
            if e != np.nan:
                cat.append(e[1:len(e)-1])
        lst.insert(13,','.join(cat))
        f2.write('\t'.join(lst[0:14]))
        f2.write('\n')
f1.close()
f2.close()

# 4. Check-in 分析

## LA Tips

In [11]:
###
#第一步
###
#签到数据规整
file1 = 'E:\\data\Foursquare\\Microsoft_check-in data\\Tips\\LA\\LA-Tips.txt'#最原始数据
file2 = r'E:\data\Foursquare\Microsoft_check-in data\update\check-ins\LA.txt'#第一次转换生成的，已删除
f1 = open(file1, 'r', errors = 'ignore')
f2 = open(file2, 'w')
lines = f1.readlines()
for line in lines:
    lst = line.strip().split('\t')
    con = [i for i,x in enumerate(lst) if x =='null']
    for i, j in enumerate(con):
        if i == len(con) - 1:
            p = lst[j-1:]
            p.insert(0,lst[0])
            f2.write('\t'.join(p))
            f2.write('\n')
        else:
            q = lst[j-1: con[i+1]-1] 
            q.insert(0,lst[0])
            f2.write('\t'.join(q))
            f2.write('\n')
f1.close()
f2.close()

In [14]:
###
#第二步
###
#处理种类，整合签到中的种类
file1 = r'E:\data\Foursquare\Microsoft_check-in data\update\check-ins\LA.txt' #第一步生成的数据集，已删除
file2 = 'E:\\data\\Foursquare\\Microsoft_check-in data\\update\\check-ins\\tips_LA.txt' #第二步生成的数据
f1 = open(file1,'r',errors = 'ignore')
f2 = open(file2,'w')
for line in f1.readlines():
    cat = []
    lst = line.strip().split('\t')
    if len(lst) < 9:
        f2.write('\t'.join(lst))
        f2.write('\n')
    else:
        for e in lst[8:len(lst)]:
            if e != np.nan:
                cat.append(e[1:len(e)-1])
        lst.insert(8,','.join(cat))
        f2.write('\t'.join(lst[0:9]))
        f2.write('\n')
f1.close()
f2.close()

In [28]:
Tips_LA = pd.read_table(file_LACheck, sep = '\t',encoding = 'latin-1',names = [])

D:\Python\Install\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## NYC Tips

In [15]:
#第一步，同上
#NYC签到数据规整
file1 = 'E:\\data\\Foursquare\\Microsoft_check-in data\\Tips\\NYC\\NYC-Tips.txt'
file2 = 'E:\\data\\Foursquare\\Microsoft_check-in data\\update\\check-ins\\NYC.txt'
f1 = open(file1, 'r', errors = 'ignore')
f2 = open(file2, 'w')
lines = f1.readlines()
for line in lines:
    lst = line.strip().split('\t')
    con = [i for i,x in enumerate(lst) if x =='null']
    for i, j in enumerate(con):
        if i == len(con) - 1:
            p = lst[j-1:]
            p.insert(0,lst[0])
            f2.write('\t'.join(p))
            f2.write('\n')
        else:
            q = lst[j-1: con[i+1]-1] 
            q.insert(0,lst[0])
            f2.write('\t'.join(q))
            f2.write('\n')
f1.close()
f2.close()

In [16]:
###
#第二步
###
#处理种类，整合签到中的种类
file1 = 'E:\\data\\Foursquare\\Microsoft_check-in data\\update\\check-ins\\NYC.txt' #第一步生成的数据集，已删除
file2 = 'E:\\data\\Foursquare\\Microsoft_check-in data\\update\\check-ins\\tips_NYC.txt' #第二步生成的数据
f1 = open(file1,'r',errors = 'ignore')
f2 = open(file2,'w')
for line in f1.readlines():
    cat = []
    lst = line.strip().split('\t')
    if lst[3] == '0':
        del lst[3]
    if len(lst) < 9:
        f2.write('\t'.join(lst))
        f2.write('\n')
    else:
        for e in lst[8:len(lst)]:
            if e != np.nan:
                cat.append(e[1:len(e)-1])
        lst.insert(8,','.join(cat))
        f2.write('\t'.join(lst[0:9]))
        f2.write('\n')
f1.close()
f2.close()

In [24]:
Tips_NYC = pd.read_table(file_NYCCheck, sep = '\t',encoding = 'latin-1',names = [])

D:\Python\Install\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### 签到数据时间转换

In [ ]:
file_LA = r'D:\software\Github\Recommender-System\RS-LBSN\dataset\Foursquare\tips_LA.csv'
file_NYC =r'D:\software\Github\Recommender-System\RS-LBSN\dataset\Foursquare\tips_NYC.csv'