In [2]:
import numpy as np
import pandas as pd

In [3]:
#文件路径
file_yelp_business = 'E:\data\yelp_csv\yelp_business.csv'
file_yelp_user = 'E:\data\yelp_csv\yelp_user.csv'
file_yelp_review = 'E:\data\yelp_csv\yelp_review.csv'
file_yelp_tip = 'E:\data\yelp_csv\yelp_tip.csv'

## business数据处理

In [5]:
#business数据处理
data_business = pd.read_csv(file_yelp_business,encoding = 'latin-1',index_col = 'business_id')

D:\software\Python\Anaconda_Install\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
data_business.columns

Index(['name', 'neighborhood', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'categories'],
      dtype='object')

In [7]:
data_business.index

Index(['FYWN1wneV18bWNgQjJ2GNg', 'He-G7vWjzVUysIKrfNbPUQ',
       'KQPW8lFf1y5BT2MxiSZ3QA', '8DShNS-LuFqpEWIp0HxijA',
       'PfOCPjBrlQAnz__NXj9h_w', 'o9eMRCWt5PkpLDE0gOPtcQ',
       'kCoE3jvEtg6UVz5SOD3GVw', 'OD2hnuuTJI9uotcKycxg1A',
       'EsMcGiZaQuG1OOvL9iUFug', 'TGWhGNusxyMaA4kQVBNeew',
       ...
       'fp97iuseEoP7SGv74lSnhQ', 'UdEmYOnk2iJDY9lpEPAlJQ',
       'N-ujj4Xsq7Qg9A1fDGkUmA', 'fBUoQ3WCyQX9sMWteZfI3w',
       'kLFm_kehXNZkUc1oa2-Eaw', 'ALV5R8NkZ1KGOZeuZl3u0A',
       'gRGalHVu6BcaUDIAGVW_xQ', 'XXvZBIHoJBU5d6-a-oyMWQ',
       'lNpPGgM96nPIYM1shxciHg', 'viKaP26BcHU6cLx8sf4gKg'],
      dtype='object', name='business_id', length=174566)

In [8]:
col_index = ['city', 'state','latitude', 'longitude', 'stars', 'review_count','categories']

In [9]:
business = data_business[col_index]
business

,city,state,latitude,longitude,stars,review_count,categories
business_id,,,,,,,
FYWN1wneV18bWNgQjJ2GNg,Ahwatukee,AZ,33.330690,-111.978599,4.0,22,Dentists;General Dentistry;Health & Medical;Or...
He-G7vWjzVUysIKrfNbPUQ,McMurray,PA,40.291685,-80.104900,3.0,11,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...
KQPW8lFf1y5BT2MxiSZ3QA,Phoenix,AZ,33.524903,-112.115310,1.5,18,Departments of Motor Vehicles;Public Services ...
8DShNS-LuFqpEWIp0HxijA,Tempe,AZ,33.383147,-111.964725,3.0,9,Sporting Goods;Shopping
PfOCPjBrlQAnz__NXj9h_w,Cuyahoga Falls,OH,41.119535,-81.475690,3.5,116,American (New);Nightlife;Bars;Sandwiches;Ameri...
...,...,...,...,...,...,...,...
ALV5R8NkZ1KGOZeuZl3u0A,Whitby,ON,43.873460,-78.968033,4.0,4,Car Dealers;Automotive
gRGalHVu6BcaUDIAGVW_xQ,Richfield,OH,41.243385,-81.636212,5.0,3,Body Shops;Automotive
XXvZBIHoJBU5d6-a-oyMWQ,Tempe,AZ,33.407914,-111.965098,1.5,19,Home Services;Property Management;Real Estate
lNpPGgM96nPIYM1shxciHg,Pittsburgh,PA,40.517724,-80.091466,5.0,14,Spray Tanning;Tanning;Beauty & Spas
viKaP26BcHU6cLx8sf4gKg,Phoenix,AZ,33.479861,-112.044689,5.0,4,Drugstores;Shopping;Health & Medical

## user数据处理

In [10]:
#user数据处理
data_user = pd.read_csv(file_yelp_user,encoding = 'latin-1',index_col = 'user_id')

In [11]:
data_user.columns

Index(['name', 'review_count', 'yelping_since', 'friends', 'useful', 'funny',
       'cool', 'fans', 'elite', 'average_stars', 'compliment_hot',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos'],
      dtype='object')

In [12]:
data_user.index

Index(['JJ-aSuM4pCFPdkfoZ34q0Q', 'uUzsFQn_6cXDh6rPNGbIFA',
       'mBneaEEH5EMyxaVyqS-72A', 'W5mJGs-dcDWRGEhAzUYtoA',
       '4E8--zUZO1Rr1IBK4_83fg', 'Ob-2oGBQ7rwwYwUvhmnf7g',
       'JaTVvKsBl0bHHJEpESn4pQ', 'Ykj0DVsz0c6rX9ghjd0hDg',
       'kmyEPfKnHQJdTceCdoyMQg', 'H54pA7YHfjl8IjhHAfdXJA',
       ...
       'D5SZz60_r-MN-8fJGj3axA', 'AOZ5zYQXNQy8nTUEMdrXWw',
       '6acB6P0ESB_b34XdEuFx_A', 'hLrUuldLvlQufygg4o1Izg',
       'zOwCkBXWbixHQzgOanL7og', 'LODBIwiAcKxRi7Wz-sFsKw',
       'JpY2ozlb30z_AZCq2YX34g', 'AU9aZSA1rAjNE5cFcZTVMA',
       's1BZ7-rpqb3xRKcxvArXsQ', 'q-1Tz4SvaTpGEMhI_xwm0Q'],
      dtype='object', name='user_id', length=1326100)

In [13]:
col_index_user = ['review_count', 'yelping_since', 'friends','average_stars']

In [14]:
user = data_user[col_index_user]
user

,review_count,yelping_since,friends,average_stars
user_id,,,,
JJ-aSuM4pCFPdkfoZ34q0Q,10,2013-09-24,"0njfJmB-7n84DlIgUByCNw, rFn3Xe3RqHxRSxWOU19Gpg...",3.70
uUzsFQn_6cXDh6rPNGbIFA,1,2017-03-02,None,2.00
mBneaEEH5EMyxaVyqS-72A,6,2015-03-13,None,4.67
W5mJGs-dcDWRGEhAzUYtoA,3,2016-09-08,None,4.67
4E8--zUZO1Rr1IBK4_83fg,11,2012-07-16,None,3.45
...,...,...,...,...
LODBIwiAcKxRi7Wz-sFsKw,1,2015-02-21,None,5.00
JpY2ozlb30z_AZCq2YX34g,1,2014-08-01,None,5.00
AU9aZSA1rAjNE5cFcZTVMA,12,2015-11-11,None,1.85
s1BZ7-rpqb3xRKcxvArXsQ,33,2014-06-28,None,3.97
q-1Tz4SvaTpGEMhI_xwm0Q,5,2010-05-17,None,3.50

## review数据处理

In [26]:
data_review = pd.read_csv(file_yelp_review,encoding = 'latin-1',usecols = ['review_id', 'user_id', 'business_id', 'stars', 'date'])

In [27]:
data_review.columns

Index(['review_id', 'user_id', 'business_id', 'stars', 'date'], dtype='object')

In [28]:
data_review.index

RangeIndex(start=0, stop=5261668, step=1)

In [33]:
check_ins = data_review[['user_id','business_id','date','stars' ]]
check_ins

                        user_id             business_id        date  stars
0        bv2nCi5Qv5vroFiqKGopiw  AEx2SYEUJmTxVVB18LlCwA  2016-05-28      5
1        bv2nCi5Qv5vroFiqKGopiw  VR6GpWIda3SfvPC-lg9H3w  2016-05-28      5
2        bv2nCi5Qv5vroFiqKGopiw  CKC0-MOWMqoeWf6s-szl8g  2016-05-28      5
3        bv2nCi5Qv5vroFiqKGopiw  ACFtxLv8pGrrxMm6EgjreA  2016-05-28      4
4        bv2nCi5Qv5vroFiqKGopiw  s2I_Ni76bjJNK9yG60iD-Q  2016-05-28      4
...                         ...                     ...         ...    ...
5261663  mPjPyipaD0C_myqWqDipZg  Ngk84Ax1tXgpoJFEGxot3w  2011-11-21      1
5261664  mPjPyipaD0C_myqWqDipZg  pOEL97ld-FJMKO8Ki8JmYg  2016-04-30      3
5261665  mPjPyipaD0C_myqWqDipZg  5ubokMNw8qfbX2WtxgJG1Q  2011-10-23      4
5261666  mPjPyipaD0C_myqWqDipZg  EO3i5kTUG7_S2OIQ23sdSA  2011-11-07      3
5261667  mPjPyipaD0C_myqWqDipZg  HloEEXm_QzEpycuwA_RtQA  2011-11-15      3

[5261668 rows x 4 columns]

## tip数据处理

In [34]:
data_tip = pd.read_csv(file_yelp_tip, encoding = 'latin-1')

In [35]:
data_tip.columns

Index(['text', 'date', 'likes', 'business_id', 'user_id'], dtype='object')

In [36]:
data_tip.index

RangeIndex(start=0, stop=1098324, step=1)

In [37]:
tip = data_tip[[ 'user_id','business_id','date','text']]
tip

,user_id,business_id,date,text
0,ZcLKXikTHYOnYt5VYRO5sg,jH19V2I9fIslnNhDzPmdkA,2015-08-12,Great breakfast large portions and friendly wa...
1,oaYhjqBbh18ZhU0bpyzSuw,dAa0hB2yrnHzVmsCkN4YvQ,2014-06-20,Nice place. Great staff. A fixture in the tow...
2,ulQ8Nyj7jCUR8M83SUMoRQ,dAa0hB2yrnHzVmsCkN4YvQ,2016-10-12,Happy hour 5-7 Monday - Friday
3,ulQ8Nyj7jCUR8M83SUMoRQ,ESzO3Av0b1_TzKOiqzbQYQ,2017-01-28,"Parking is a premium, keep circling, you will ..."
4,ulQ8Nyj7jCUR8M83SUMoRQ,k7WRPbDd7rztjHcGGkEjlw,2017-02-25,Homemade pasta is the best in the area
...,...,...,...,...
1098319,A9WQWLL7mN6cwOklTcbppg,AR0b2PPSBfl8SRUGx-QCmA,2017-12-03,Awesome food great live entertainment
1098320,FcWOFsW8dvG5BHTB_ZPyhg,Cs8YvyehNELsgOsf5Us4Dg,2017-12-04,Amazing! Great food and prices. Upgrade to the...
1098321,bQxvo4r6y6HImAJZShR3Eg,RWwcoU716D8j519RL7paVA,2017-12-05,Great new place. Staff was very friendly and h...
1098322,kA6L6nrjJnu1bfkLGN8l9Q,ZqTXN4qh0Ta1Lp8Z3v-dKg,2017-12-08,"We waited 1.5 hour for the food, asked multipl..."
1098323,eqtEDyqn1kCXwlo2OKdW_Q,aY0ZSpAK7h7-SmP6KVS8oA,2017-12-07,"Beautiful location, beautiful event, beautiful..."

In [38]:
tip['text'][6]

"Come early on Sunday's to avoid the rush"