In [4]:
import numpy as np
import pandas as pd

In [5]:
#文件路径
file_yelp_business = 'E:\data\yelp_csv\yelp_business.csv'
file_yelp_user = 'E:\data\yelp_csv\yelp_user.csv'
file_yelp_review = 'E:\data\yelp_csv\yelp_review.csv'
file_yelp_tip = 'E:\data\yelp_csv\yelp_tip.csv'

In [6]:
pd.options.display.max_rows = 10

## business数据处理

In [5]:
#business数据处理
data_business = pd.read_csv(file_yelp_business,encoding = 'latin-1',index_col = 'business_id')

D:\software\Python\Anaconda_Install\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
data_business.columns

Index(['name', 'neighborhood', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'categories'],
      dtype='object')

In [7]:
data_business.index

Index(['FYWN1wneV18bWNgQjJ2GNg', 'He-G7vWjzVUysIKrfNbPUQ',
       'KQPW8lFf1y5BT2MxiSZ3QA', '8DShNS-LuFqpEWIp0HxijA',
       'PfOCPjBrlQAnz__NXj9h_w', 'o9eMRCWt5PkpLDE0gOPtcQ',
       'kCoE3jvEtg6UVz5SOD3GVw', 'OD2hnuuTJI9uotcKycxg1A',
       'EsMcGiZaQuG1OOvL9iUFug', 'TGWhGNusxyMaA4kQVBNeew',
       ...
       'fp97iuseEoP7SGv74lSnhQ', 'UdEmYOnk2iJDY9lpEPAlJQ',
       'N-ujj4Xsq7Qg9A1fDGkUmA', 'fBUoQ3WCyQX9sMWteZfI3w',
       'kLFm_kehXNZkUc1oa2-Eaw', 'ALV5R8NkZ1KGOZeuZl3u0A',
       'gRGalHVu6BcaUDIAGVW_xQ', 'XXvZBIHoJBU5d6-a-oyMWQ',
       'lNpPGgM96nPIYM1shxciHg', 'viKaP26BcHU6cLx8sf4gKg'],
      dtype='object', name='business_id', length=174566)

In [8]:
col_index = ['city', 'state','latitude', 'longitude', 'stars', 'review_count','categories']

In [9]:
business = data_business[col_index]
business

,city,state,latitude,longitude,stars,review_count,categories
business_id,,,,,,,
FYWN1wneV18bWNgQjJ2GNg,Ahwatukee,AZ,33.330690,-111.978599,4.0,22,Dentists;General Dentistry;Health & Medical;Or...
He-G7vWjzVUysIKrfNbPUQ,McMurray,PA,40.291685,-80.104900,3.0,11,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...
KQPW8lFf1y5BT2MxiSZ3QA,Phoenix,AZ,33.524903,-112.115310,1.5,18,Departments of Motor Vehicles;Public Services ...
8DShNS-LuFqpEWIp0HxijA,Tempe,AZ,33.383147,-111.964725,3.0,9,Sporting Goods;Shopping
PfOCPjBrlQAnz__NXj9h_w,Cuyahoga Falls,OH,41.119535,-81.475690,3.5,116,American (New);Nightlife;Bars;Sandwiches;Ameri...
...,...,...,...,...,...,...,...
ALV5R8NkZ1KGOZeuZl3u0A,Whitby,ON,43.873460,-78.968033,4.0,4,Car Dealers;Automotive
gRGalHVu6BcaUDIAGVW_xQ,Richfield,OH,41.243385,-81.636212,5.0,3,Body Shops;Automotive
XXvZBIHoJBU5d6-a-oyMWQ,Tempe,AZ,33.407914,-111.965098,1.5,19,Home Services;Property Management;Real Estate
lNpPGgM96nPIYM1shxciHg,Pittsburgh,PA,40.517724,-80.091466,5.0,14,Spray Tanning;Tanning;Beauty & Spas
viKaP26BcHU6cLx8sf4gKg,Phoenix,AZ,33.479861,-112.044689,5.0,4,Drugstores;Shopping;Health & Medical

## user数据处理

In [10]:
#user数据处理
data_user = pd.read_csv(file_yelp_user,encoding = 'latin-1',index_col = 'user_id')

In [11]:
data_user.columns

Index(['name', 'review_count', 'yelping_since', 'friends', 'useful', 'funny',
       'cool', 'fans', 'elite', 'average_stars', 'compliment_hot',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos'],
      dtype='object')

In [12]:
data_user.index

Index(['JJ-aSuM4pCFPdkfoZ34q0Q', 'uUzsFQn_6cXDh6rPNGbIFA',
       'mBneaEEH5EMyxaVyqS-72A', 'W5mJGs-dcDWRGEhAzUYtoA',
       '4E8--zUZO1Rr1IBK4_83fg', 'Ob-2oGBQ7rwwYwUvhmnf7g',
       'JaTVvKsBl0bHHJEpESn4pQ', 'Ykj0DVsz0c6rX9ghjd0hDg',
       'kmyEPfKnHQJdTceCdoyMQg', 'H54pA7YHfjl8IjhHAfdXJA',
       ...
       'D5SZz60_r-MN-8fJGj3axA', 'AOZ5zYQXNQy8nTUEMdrXWw',
       '6acB6P0ESB_b34XdEuFx_A', 'hLrUuldLvlQufygg4o1Izg',
       'zOwCkBXWbixHQzgOanL7og', 'LODBIwiAcKxRi7Wz-sFsKw',
       'JpY2ozlb30z_AZCq2YX34g', 'AU9aZSA1rAjNE5cFcZTVMA',
       's1BZ7-rpqb3xRKcxvArXsQ', 'q-1Tz4SvaTpGEMhI_xwm0Q'],
      dtype='object', name='user_id', length=1326100)

In [13]:
col_index_user = ['review_count', 'yelping_since', 'friends','average_stars']

In [14]:
user = data_user[col_index_user]
user

,review_count,yelping_since,friends,average_stars
user_id,,,,
JJ-aSuM4pCFPdkfoZ34q0Q,10,2013-09-24,"0njfJmB-7n84DlIgUByCNw, rFn3Xe3RqHxRSxWOU19Gpg...",3.70
uUzsFQn_6cXDh6rPNGbIFA,1,2017-03-02,None,2.00
mBneaEEH5EMyxaVyqS-72A,6,2015-03-13,None,4.67
W5mJGs-dcDWRGEhAzUYtoA,3,2016-09-08,None,4.67
4E8--zUZO1Rr1IBK4_83fg,11,2012-07-16,None,3.45
...,...,...,...,...
LODBIwiAcKxRi7Wz-sFsKw,1,2015-02-21,None,5.00
JpY2ozlb30z_AZCq2YX34g,1,2014-08-01,None,5.00
AU9aZSA1rAjNE5cFcZTVMA,12,2015-11-11,None,1.85
s1BZ7-rpqb3xRKcxvArXsQ,33,2014-06-28,None,3.97
q-1Tz4SvaTpGEMhI_xwm0Q,5,2010-05-17,None,3.50

## review数据处理

In [4]:
data_review = pd.read_csv(file_yelp_review,encoding = 'latin-1',nrows = 500)

In [5]:
data_review.columns

Index(['review_id', 'user_id', 'business_id', 'stars', 'date', 'text',
       'useful', 'funny', 'cool'],
      dtype='object')

In [6]:
data_review.index

RangeIndex(start=0, stop=500, step=1)

In [1]:
check_ins = data_review[['user_id', 'business_id', 'stars', 'date', 'text']]
check_ins

NameError: name 'data_review' is not defined

## tip数据处理

In [ ]:
data_tip = pd.read_csv(file_yelp_tip, encoding = 'latin-1', )